language: python
python:
  - "2.7"
branches:
  only:
    - master
services:
  - docker
sudo: required
install:
  - pip install -r rootfs/dev_requirements.txt
script:
  - make test
after_success:
  - make docker-build
